$font-14: 14px;

$small: 300px;
$medium-min: 779px;
$medium-max: 780px;

$color-bg: #a7a0a0;
$color-btn: #a7a0a0;

body{
    background: #f0eae4;
    transform: translateX();
    // font-size: $font-14;
}

.box-produtos img {
    max-height: 400px;
}
.filtro{
    display: none;
}

.form-lateral{
    width: 23%;
    position: relative;
    float: left;
    background-color: #fff;

    .list-group{
        position: relative;
        display: block;
        padding: 15px 10px 25px;
        border-color: #f0eae4;
        border: 1px solid #ddd;

        .btn {
            background: $color-btn;
            border: 1px solid $color-btn;
            border-radius: 4px;
            color: white;

            #icon-search {
                margin-right: 5px;
            }
        }

        .opc-imoveis{
            width: 90%;
            font-size: 12px;
            padding: 12px 0px 12px 10px;
            color: #3d3d3d;
            margin-top: 10px;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, .15);
        }

        label{
            font-size: 14px;
        }

        .group-duplo {
            display: flex;
        }

        .duplo{
            float: left;
            width: 50%;

            #preco-min{
                width: 75%;
            }
            
            #preco-max{
                width: 75%;    
            }
        }

        .qtd{
            display: flex;

            .gtd-op{
                font-size: 12px;
                width: 15%;
                border: 1px solid #3a3836;
                background-color: transparent;
                margin: 6px 10px 0 0;
                text-align: center;
                padding: 9px 0px;
                border-radius: 3px;
            }
            
            .gtd-op::selection{
                background-color: black;
            }
        }

        #btn-buscar {
            margin: 10px 15%;
            padding: 12px 5px;
            height: auto;
        }
    }

    .menu-opcoes{
        display: flex;
    
        .select-opcao{
            text-align: center;
            width: 50%;
            padding: 15px 0;
            background-color: #f0eae4;
            color: black;
            font-size: 14px;
    
            .select-opcao._open{
                background: #fff;
            }
        }
        #opcoes-compras{
            border-right: 3px solid #fff;
        }
    }
}

/*========== Produtos =======*/
.box-produtos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding-left: 25px;

    .box-produtos-item{
        padding: 7px;
        background: #fff;

        .box-produtos-desc{
            position: relative;
            width: auto;
            line-height: 1.5;
            padding: 0 20px 20px;
        }
        .box-produtos-desc p{
            font-size: 14px;
        }
        .box-produtos-desc h3{
            margin-bottom: 5px;
            font-size: 20px;
        }
    }

    
}



// Rever estrutura 

@media (max-width: 780px) {

    .filtro{
        display: block;
        padding: 5px 10px;
        text-align: center;
        width: 42px;
        background: transparent;
        border: 1px solid $color-btn;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .form-lateral{
        display: none;
        width: 100%;
        position: relative;
        float: none;
        margin-bottom: 20px;
    }
    .form-lateral._open{
        display: block;
    }

    .box-produtos{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        padding: 0;
    }

    .list-group #btn-buscar {
        margin: 0;
    }

}

@media screen and (max-width: 770px){
    .form-lateral .list-group #btn-buscar {
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: $medium-min){

}