
$color-bg: #a7a0a0;
$color-btn: #a7a0a0;

@import 'produtos';
@import 'style';
@import 'responsivo';

$color-bg: #a7a0a0;

$color-btn-bg: #a7a0a0;
$color-btn: #fff;

$color-btn-bg-hover: #e6d8d8;
$color-btn-hover: #a7a0a0;