
body{
    background: #f0eae4;
}

.box-produtos img {
    max-height: 400px;
}
.form-lateral{
    width: 23%;
    position: relative;
    float: left;
    background-color: #fff;
}

.menu-opcoes{
    display: flex;
}
.select-opcao{
    text-align: center;
    width: 50%;
    padding: 15px 0;
    background-color: #f0eae4;
    color: black;
    font-size: 14px;
}

.select-opcao._open{
    background: #fff;
}

.list-group{
    position: relative;
    display: block;
    padding: 15px 10px 25px;
    border-color: #f0eae4;
    border: 1px solid #ddd;
}


.list-group .opc-imoveis{
    width: 90%;
    font-size: 12px;
}

.list-group label{
    font-size: 14px;
}

.group-duplo {
    display: flex;
}

.duplo{
    float: left;
    width: 50%;
}

#preco-min{
    width: 75%;
}

#preco-max{
    width: 75%;    
}

.qtd{
    display: flex;
}
.gtd-op{
    font-size: 12px;
    width: 15%;
    border: 1px solid #3a3836;
    background-color: transparent;
    margin: 6px 10px 0 0;
    text-align: center;
    padding: 9px 0px;
    border-radius: 3px;
}

.gtd-op::selection{
    background-color: black;
}

.list-group #btn-buscar {
    margin: 10px 15%;
}

/*========== Produtos =======*/

.filtro{
    display: none;
}

#opcoes-compras{
    border-right: 3px solid #fff;
}
.box-produtos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding-left: 25px;
}

.box-produtos-item{
    /* width: 50%; */
    padding: 7px;
    background: #fff;
}
.box-produtos-desc{
    position: relative;
    width: auto;
    line-height: 1.5;
    padding: 0 20px 20px;
}

.box-produtos-item .box-produtos-desc p{
    font-size: 14px;
}
.box-produtos-item .box-produtos-desc h3{
    margin-bottom: 5px;
    font-size: 20px;
}
/* .linha{
    width: 94%;
    height: 1px;
    background-color: rgb(153, 138, 138);
    display: block;
    margin: 14px auto;
} */


@media (max-width: 780px) {

    .filtro{
        display: block;
        padding: 5px 10px;
        text-align: center;
        width: 42px;
        background: #fff;
        border: 1px solid black;
        /* padding: initial; */
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-lateral{
        display: none;
    }
    .form-lateral._open{
        display: block;
    }

    .box-produtos{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        padding: 0;
    }

    .form-lateral {
        width: 100%;
        position: relative;
        float: none;
        margin-bottom: 20px;
    }
    .list-group #btn-buscar {
        margin: 0;
    }

}